* {
  font-family: arial, sans-serif;
  color: #545454;
}

html,
body {
  margin: 0;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper.indexPage {
  justify-content: center;
}

.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainSection .searchContainer {
  margin-top: 20px;
  width: 100%;
}

.mainSection .searchContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchContainer .searchButton {
  color: #757575;
  background-color: #f5f5f5;
  border: none;
  height: 36px;
  width: 125px;
  border-radius: 1px;
  font-size: 13px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
}

.mainSection .searchContainer .searchBox {
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 44px;
  border-radius: 2px;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  width: 70%;
  max-width: 630px;
  color: #000;
}

.mainSection .logoContainer {
  width: 220px;
  text-align: center;
}

.logoContainer img {
  width: 100%;
}

.header {
  background-color: #fafafa;
  border-bottom: 1px solid #ebebeb;
}

.wrapper .headerContent {
  display: flex;
  align-items: center;
}

.headerContent .logoContainer {
  width: 150px;
  padding: 5px 20px;
  box-sizing: border-box;
}

.headerContent .searchContainer {
  flex: 1;
}

.headerContent .searchContainer form {
  margin: 15px 0 28px 0;
}

.headerContent .searchBarContainer {
  height: 44px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  width: 70%;
  max-width: 630px;
  box-sizing: border-box;
  display: flex;
}

.headerContent .searchBarContainer .searchBox {
  flex: 1;
  border: none;
  background-color: transparent;
  padding: 12px;
  font-size: 16px;
  color: #000;
}

.headerContent .searchBarContainer .searchButton {
  background-color: #fff;
  height: 44px;
  margin-top: 0;
  width: 44px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
}

.headerContent .searchBarContainer .searchButton img {
  width: 22px;
}

.tabsContainer {
  margin-left: 150px;
}

.tabsContainer .tabList {
  padding: 0;
  margin: 0;
}

.tabsContainer .tabList li {
  display: inline-block;
  padding: 0 16px 12px 16px;
  color: #777;
  font-size: 13px;
}

.tabsContainer .tabList li a {
  text-decoration: none;
}

.tabsContainer .tabList li.active {
  border-bottom: 3px solid #1a73e8;
}

.tabsContainer .tabList li.active a {
  font-weight: bold;
  color: #1a73e8;
}
.mainResultsSection {
  flex: 1;
}
.mainResultsSection .resultsCount {
  font-size: 13px;
  color: #808080;
  margin-left: 150px;
}
.mainResultsSection .siteResults {
  margin-left: 150px;
}
.resultContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}
.resultContainer .title {
  margin: 0;
}
.resultContainer .title a {
  color: #1a0dab;
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
}
.resultContainer .title a:hover {
  text-decoration: underline;
}
.resultContainer .url {
  color: #006621;
  font-size: 14px;
}
.resultContainer .description {
  font-size: 12px;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.pageButtons {
  display: flex;
}
.pageNumberContainer img {
  height: 37px;
}
.pageNumberContainer,
.pageNumberContainer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.pageNumber {
  color: #000;
  font-size: 13px;
}
a .pageNumber {
  color: #4285f4;
}
.mainResultsSection .imageResults {
  margin: 20px;
}
.gridItem {
  position: relative;
}
.gridItem img {
  max-width: 200px;
  min-width: 50px;
  visibility: hidden;
}
.gridItem .details {
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 11px;
  padding: 3px;
  box-sizing: border-box;
  white-space: nowrap; /* ソース中のホワイトスペースを無視 ソース中の改行を1つの半角スペースとして表示*/
}
.gridItem:hover .details {
  visibility: visible;
}

.yt {
  color: #cd201f;
}
.header {
  border-bottom: 4px solid #cd201f;
}
.logo {
  width: 130px;
  float: left;
}
.content {
  margin-top: 0px;
}
.search-field {
  border: 1px solid #ccc;
  padding: 7px 14px 9px;
  transition: 0.4s;
}
.btn {
  cursor: pointer;
}
.search-field ~ .focus-border:before,
.search-field ~ .focus-border:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #cd201f;
  transition: 0.2s;
  transition-delay: 0.2s;
}
.search-field ~ .focus-border:after {
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
  transition-delay: 0.6s;
}
.search-field ~ .focus-border i:before,
.search-field ~ .focus-border i:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #cd201f;
  transition: 0.2s;
}
.search-field ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  transition-delay: 0.4s;
}
.search-field:focus ~ .focus-border:before,
.search-field:focus ~ .focus-border:after {
  width: 100%;
  transition: 0.2s;
  transition-delay: 0.6s;
}
.search-field:focus ~ .focus-border:after {
  transition-delay: 0.2s;
}
.search-field:focus ~ .focus-border i:before,
.search-field:focus ~ .focus-border i:after {
  height: 100%;
  transition: 0.2s;
}
.search-field:focus ~ .focus-border i:after {
  transition-delay: 0.4s;
}
.d3 {
  float: left;
  width: auto;
  margin-right: 10px;
  position: relative;
}
#results {
  list-style: none;
}
#results .row {
  margin-bottom: 10px;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px;
}
.cTitle {
  color: #cd201f;
}
#results img {
  padding: 10px;
  border: 1px solid #ccc;
}
#results h4 {
  color: #9a9b9c;
}
#buttons {
  border: 1px solid red;
}

.button-container {
  margin: 10px 0;
}
/* Global Button Styles */
button.animated-button:link,
a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
button.animated-button:link:after,
a.animated-button:visited:after {
  content: '';
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
button.animated-button:link:hover,
a.animated-button:visited:hover {
  color: #fff;
  text-shadow: none;
}
button.animated-button:link:hover:after,
a.animated-button:visited:hover:after {
  height: 450%;
}
button.animated-button:link,
a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size: 14px;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

button.animated-button.thar-three {
  float: right;
  width: 150px;
  margin-left: 10px;
  color: #cd201f;
  cursor: pointer;
  background: #fff;
  display: block;
  position: relative;
  border: 2px solid #cd201f;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
button.animated-button.thar-three:hover {
  color: #fff !important;
  background-color: transparent;
  text-shadow: nthree;
}
button.animated-button.thar-three:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}
button.animated-button.thar-three:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #cd201f;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

button.animated-button.thar-four {
  float: right;
  width: 150px;
  color: #cd201f;
  background: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #cd201f;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
button.animated-button.thar-four:hover {
  color: #fff !important;
  background-color: transparent;
  text-shadow: nfour;
}
button.animated-button.thar-four:hover:before {
  right: 0%;
  left: auto;
  width: 100%;
}
button.animated-button.thar-four:before {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #cd201f;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.total-results {
  margin-top: 7px;
  display: inline-block;
}
@media (max-width: 360px) {
  .total-results {
    display: block;
  }
}

/* wiki */
.result {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1%;
  background-color: white;
  text-align: left;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  border-left: 4px solid red;
}
/* .result:hover {
  /*   position: absolute; */
/*   font-size: 200%; */
/*   border: 4px solid blue; */
/* } */
.container-results {
  display: none;
  padding: 1%;
  margin-top: 50px;
  transition: all 1s easy-in-out 1s;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  background-color: rgb(255, 0, 255);
}
.first-row {
  margin-top: 3%;
}
input {
  -webkit-appearance: searchfield;
  height: 34px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  width: 30%;
  display: inline-block;
}
#about-results {
  display: block;
  background-color: #fff;
  width: 30%;
  margin: 0 auto;
}
#next,
#previous {
  display: none;
  width: 10%;
  height: 20px;
  margin-top: 1.5%;
}
#searchBtn {
  width: 6%;
  padding-left: 0px;
}
